@import "tailwindcss";

:root {
  --background: #fff5f0; /* Saumon très clair */
  --foreground: #1a2a4a; /* Bleu nuit au lieu de noir */
  --royal-blue: #2b50aa;
  --sky-blue: #99ceff;
  --peach: #ffb080;
  --peach-light: #ffd9c0;
  --white: #ffffff;
}

@font-face {
  font-family: "Delphia";
  src: url("/fonts/DelphiaVillage.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-royal-blue: var(--royal-blue);
  --color-sky-blue: var(--sky-blue);
  --color-peach: var(--peach);
  --color-peach-light: var(--peach-light);
  --color-white: var(--white);

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  --font-delphia: "Delphia", cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
